name: Smoke Test v0.1 Client

on:
  workflow_dispatch:

jobs:
  test-action-on-failure:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:

      - name: Use terminal-on-fail action
        uses: lawrencegripper/actions-term-on-fail@v0.1
        with:
          otp-secret: ${{ secrets.OTP_SECRET }}
          timeout: "2"

      - name: Intentional failure to trigger action
        run: |
          echo "This step will fail to trigger the terminal-on-fail action"
          exit 1
