name: Smoke Test

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  test-action-on-failure:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:

      - name: Use terminal-on-fail action
        uses: lawrencegripper/actions-term-on-fail@main
        with:
          otp-secret: ${{ secrets.OTP_SECRET }}
          timeout: "8"

      - name: Intentional failure to trigger action
        run: |
          echo "This step will fail to trigger the terminal-on-fail action"
          exit 1
